CHAOCRDANTIC_MODEL_NAME=chandra-ocr-2-vllm
CHAOCRDANTIC_BASE_URL=http://127.0.0.1:12434/v1
CHAOCRDANTIC_API_KEY=EMPTY

CHAOCRDANTIC_MAX_OUTPUT_TOKENS=12384
CHAOCRDANTIC_TEMPERATURE=0.0
CHAOCRDANTIC_TOP_P=0.1
CHAOCRDANTIC_MAX_RETRIES=6
CHAOCRDANTIC_MAX_WORKERS=10
CHAOCRDANTIC_REQUEST_TIMEOUT=500.0

CHAOCRDANTIC_INCLUDE_IMAGES=true
CHAOCRDANTIC_INCLUDE_HEADERS_FOOTERS=false

CHAOCRDANTIC_IMAGE_DPI=192
CHAOCRDANTIC_MIN_PDF_IMAGE_DIM=1024
CHAOCRDANTIC_MIN_IMAGE_DIM=1536
CHAOCRDANTIC_INFERENCE_MAX_IMAGE_WIDTH=3072
CHAOCRDANTIC_INFERENCE_MAX_IMAGE_HEIGHT=2048
CHAOCRDANTIC_INFERENCE_MIN_IMAGE_WIDTH=1792
CHAOCRDANTIC_INFERENCE_MIN_IMAGE_HEIGHT=28
